modules = ["nodejs-20", "web", "postgresql-16"]
run = "pnpm dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm dev"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 2228161
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
